<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        ul {
            padding: 14px 16px;
            background: #333;
        }
        li {
            display: inline;
        }

        .menu {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
        }

        li a:hover {
            background-color: red;
        }

    </style>

</head>
<body>
    <h1>Django Quick Start Tutorial</h1>

    <ul>
        <li><a class="menu" href="#">Home</a></li>
        <li><a class="menu" href="#">About</a></li>
        <li><a class="menu" href="#">Contact</a></li>
    </ul>

    <p><a href="/helloworld/" target="_blank">Hello World Application</a></p>
    <p><a href="/template/" target="_blank">Template Application</a></p>
    <p><a href="/admin/" target="_blank">Data Model Application</a></p>
    <p><a href="/api-root" target="_blank">REST API Application</a></p>

</body>
</html>