{% extends 'home_app/base.html' %}
{% load static %}
{% block body %}

<div style="margin:7px">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/HelloWorld.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">HelloWorld!</h5>
            <p class="card-text">Most basic application that just writes "Hello World".</p>
              <p class="card-text"><i>../django_template/django_project/hello_world_app</i></p>
            <a href="{% url 'hello_world' %}" target="_blank" class="btn btn-primary">Helloworld!!!</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/Templates.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Templates</h5>
            <p class="card-text">Most basic application that use templates</p>
              <p class="card-text"><i>../django_template/django_project/template_app</i></p>
            <a href="{% url 'template' %}" target="_blank" class="btn btn-primary">Template</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/StaticFiles.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Static Files</h5>
            <p class="card-text">Most basic template application with static files (css, javascript, image).</p>
              <p class="card-text"><i>../django_template/django_project/template_static_app</i></p>
            <a href="{% url 'template_static' %}" target="_blank" class="btn btn-primary">Static</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/Model.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Model</h5>
            <p class="card-text">Most basic model example with no UI that can be accessed from admin zone.</p>
              <p class="card-text"><i>../django_template/django_project/model_app</i></p>
            <a href="/admin/" target="_blank" class="btn btn-primary">Model</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/Form.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Form</h5>
            <p class="card-text">Basic form example.</p>
              <p class="card-text"><i>../django_template/django_project/form_app</i></p>
            <a href="{% url 'form' %}" target="_blank" class="btn btn-primary">Form</a>
          </div>
        </div>
      </div>
      <div class="col">
      <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/RestApi.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">REST API</h5>
            <p class="card-text">Most basic rest api application with no UI and only.</p>
              <p class="card-text"><i>../django_template/django_project/model_app</i></p>
            <a href="{% url 'api-root' %}" target="_blank" class="btn btn-primary">RestApi</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="background-color: #f9f9e8;">
          <img src="{% static 'home_app/Blog.png' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blog</h5>
            <p class="card-text">Basic blog example.</p>
              <p class="card-text"><i>../django_template/django_project/blog_app</i></p>
            <a href="{% url 'blog' %}" target="_blank" class="btn btn-primary">Blog</a>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock %}
